@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playwrite+CU:wght@100..400&display=swap');


body {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    /* font-variation-settings: "slnt" 0; */
}

/* share style */
.display-flex {
    display: flex;
}

header {
    background: linear-gradient(180.00deg, rgb(17, 17, 17), rgba(119, 119, 119, 0) 100%);
    background: linear-gradient(180deg, rgba(62, 74, 74, 1) 0%, rgb(42 42 42 / 99%) 0%, rgba(0, 0, 0, 1) 100%);
}

.button {
    width: 225px;
    height: 55px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 1rem 3.5rem;
    border: none;
}

.navbar-container {
    max-width: 1440px;
    margin: 0 auto;

}

.banner-container {
    max-width: 1440px;
    margin: 0 auto;

}

.habit-container {
    max-width: 1440px;
    margin: 0 auto;

}

.run-container {
    max-width: 1440px;
    margin: 0 auto;

}

.bmi-calculator-heading-container {
    max-width: 1440px;
    margin: 0 auto;

}

.bmi-calculator-container {
    max-width: 1440px;
    margin: 0 auto;

}

.team-container {
    max-width: 1440px;
    margin: 0 auto;

}

.footer-container {
    max-width: 1440px;
    margin: 0 auto;

}



/* Navbar Related Styles. */
.navigationbar {
    align-items: center;
    justify-content: space-between;
    padding: 3rem 0rem;
}

.logo {
    color: rgb(230, 83, 60);
    font-style: italic;
    font-size: 36px;
    font-weight: 800;
    margin-top: 0rem;
}

.menu {
    list-style-type: none;
    align-items: center;
    justify-content: center;
    margin: 0rem;
    padding: .25rem;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 2.8rem;

}

.home-nav {
    background-color: rgb(230, 83, 60);
    padding: 10px 8px;
    border-radius: 2.5rem;
    margin-right: 3rem;
}

.nav-options {
    margin-right: 3rem;
}

.menu>li {
    height: 2.5rem;
    list-style: none;
    margin-right: 3rem;
    overflow: hidden;
}

.menu a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: 400;
    text-align: left;
    padding: .5rem 1rem;
}

.menu-button-container {
    display: none;
    height: 100%;
    width: 30px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#menu-toggle {
    display: none;
}

.menu-button,
.menu-button::before,
.menu-button::after {
    display: block;
    background-color: #fff;
    position: absolute;
    height: 4px;
    width: 30px;
    transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
    border-radius: 2px;
}

.menu-button::before {
    content: '';
    margin-top: -8px;
}

.menu-button::after {
    content: '';
    margin-top: 8px;
}

/* End of Navbar Related Styles. */


/* Banner Related Styles. */
.banner-details {
    color: white;
    padding: 4rem 0rem;
    gap: 10rem;
}

.banner-content {
    padding-top: 0px;
}

.banner-title {
    font-size: 7rem;
    font-weight: 800;
    margin: 0px;
    margin-top: 0;
    margin-bottom: 1.5rem;
    line-height: 120%;
}

#shape-font {
    font-family: "Playwrite CU", cursive;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
}

.banner-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.3rem;
    margin-bottom: 1.8rem;
    padding-right: 200px;
}

.banner-button {
    gap: 10px;
}

.club-button {
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 46px;
    background: rgb(230, 83, 60);
    padding: 1rem 3rem;
    border: none;
}

.download-button {
    background-color: transparent;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    color: white;
    padding: 1rem 3rem;
    border: 1px solid white;
}

.workout {
    width: 180px;
    height: 90px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 0.8rem;
    backdrop-filter: blur(2.25rem);
    background: rgba(255, 255, 255, 0.1);
    padding: 10px 20px;
    position: absolute;
    bottom: 60%;
    left: 60%;
    /* transform: translate(10%, 23%);  */
}

.workout h3 {
    color: rgb(255, 255, 255);
    font-size: 2.5rem;
    font-weight: 800;
    margin: 0px;
}

.workout p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.8rem;
}

.banner-profile {
    position: relative;
}


.tutorial {
    width: 210px;
    height: 105px;
    box-sizing: border-box;
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    backdrop-filter: blur(20px);
    background: rgba(48, 48, 48, 0.54);
    padding: 10px 20px;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: absolute;
    bottom: 12%;
    left: -35%;
}

.circle {
    width: 45px;
    height: 45px;
    border: 1px solid red;
    background-color: rgb(230, 83, 60);
    border-radius: 50%;
}

.tutorial h3 {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    font-weight: 900;
    margin: 0px;
}

.tutorial p {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1rem;
}

/* End of Banner Related Styles. */
/* Habit Related Styles. */
.habit-section {
    background-color: black;
}

.habit-details {
    padding: 1rem 0rem;
}

.habit-heading {
    text-align: center;
}

.habit-title {
    color: white;
    font-size: 3rem;
    font-weight: 800;
    margin: 0px;
}

.habit-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
}

.habit-images {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.habit-images img {
    border-radius: 50%;
    border: 3px solid rgb(34, 34, 34);
}

.image-card {
    text-align: center;
}

.image-title {
    color: white;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}

.image-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding: 0px 50px;
}

/* End of Habit Related Styles. */

/* Run Section Related Styles. */
.run-section {
    background-color: black;
    padding-top: 3rem;
}

.run-details {
    padding: 2rem 5rem;
    gap: 10rem;
    border-radius: 18px;
    background: rgb(34, 34, 34);
    justify-content: center;
    align-items: center;
}

.run-heading {
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

.run-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
}

.run-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    padding-right: 20rem;
    line-height: 140%;
    letter-spacing: 0.3px;
}

.join-button {
    width: 225px;
    height: 55px;
    color: white;
    font-size: 18px;
    font-weight: 600;
    border-radius: 42px;
    background: rgb(230, 83, 60);
    padding: 1rem 3.5rem;
    border: none;
}

.run-image {
    margin-top: 20px;
}

.run-full-image {
    display: none;
}

.run-image img {
    border-radius: 20px;
    width: 100%;
}

/* End of Run Section Related Styles. */
/* Bmi Calculator Heading Related Styles. */
.bmi-calculator-top {
    background-color: black;
}

.bmi-calculator-heading-container {
    background-color: black;
}

.bmi-calculator-heading {
    text-align: left;
    padding: 3rem 25rem;
}

.bmi-calculator-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
}

.bmi-calculator-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    /* padding-bottom: 4rem; */
}



/* Bmi Calculator Related Styles. */
.bmi-calculator-container {
    justify-content: space-between;
    padding: 3rem 0rem;
}

.bmi-calculator-bottom {
    background-color: rgb(34, 34, 34);
    color: white;
}

table {
    border-collapse: collapse;
    width: 400px;
    height: 220px;
}

th {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1rem 2rem;
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
}


.bmi-calculator-chart h1 {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    padding-bottom: 3rem;
    margin: 0px;
}

.bmi-calculator {
    flex-direction: column;
    gap: 20px;
    padding: 0;
    width: 55%;
}

.calculator-form {
    flex-direction: column;
}

.calculator-heading {
    padding-bottom: 0rem;
}

.calculator-title {
    color: rgb(255, 255, 255);
    font-size: 28px;
    font-weight: 900;
    margin: 0px;
    padding-bottom: 10px;
}


.calculator-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-right: 12rem;
    padding-bottom: 10px;
}

.calculator-form {
    gap: 20px;
}

.calculator-form input,
.calculator-form select {
    width: 50%;
    height: 60px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    padding-left: 20px;
}

#sex-select {
    width: 52%;
    height: 60px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    padding-left: 20px;
}

#activity-select {
    width: 98%;
    height: 60px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.1);
    border: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 1rem;
    cursor: pointer;
    margin-right: 20px;
    padding-left: 20px;
}

/* Team Section Related Styles. */
.team-section {
    background-color: black;
}

.team-container {
    flex-direction: column;
    gap: 3rem;
    padding-bottom: 3rem;
}

.team-heading {
    text-align: center;
    color: white;
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.team-title {
    color: rgb(255, 255, 255);
    font-size: 3rem;
    font-weight: 900;
    margin: 0px;
    margin-bottom: 1rem;
}

.team-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
}

.team-peoples {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 4rem;
    background-color: rgb(34, 34, 34);
    padding: 4rem;
    border-radius: 10px;
}

.team-peoples img {
    width: 100%;
    height: 275px;
    border-radius: 18px;
}

.people-profile {
    position: relative;
}

.people-info {
    color: white;
    position: absolute;
    bottom: 10%;
    left: 5%;
}

.people-info h3,
p {
    margin: 0px;
}

/* Footer Related Styles. */
footer {
    background-color: rgb(34, 34, 34);
}

.footer-container {
    top: 120px;
    padding: 5rem 0rem;
}

.footer-container-top {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    justify-content: space-between;
    gap: 8rem;
    margin-bottom: 2rem;
}

.footer-left-title {
    padding-bottom: 1.5rem;
    margin: 0rem;
    color: rgb(230, 83, 60);
    font-size: 5rem;
    font-weight: 900;
}

.footer-left-description {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.3px;
    padding-right: 8rem;
}

.footer-middle,
.footer-right {
    flex-direction: column;
    justify-content: space-between;
    gap: 30px;
}

.footer-container-top h3 {
    margin: 0rem;
    font-size: 1.8rem;
    color: white;
    padding-top: 0.8rem;
}

.footer-container-top p {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1rem;
    font-weight: 400;
}

.footer-nav-links {
    flex-direction: column;
    gap: 20px;
}

.last-line {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.5rem;
    font-weight: 400;
    padding-bottom: 2rem;
    text-align: center;
}

/* End of Footer Related Styles. */



/* Responsive */
@media screen and (max-width: 576px) {

    /* Navbar and Banner Related Responsive Styles. */
    .navigationbar {
        padding: 30px 20px;
    }

    .menu-button-container {
        display: flex;
    }

    .menu {
        display: none;
    }

    .banner-details {
        flex-direction: column;
        padding: 0px 45px;
        gap: 30px;
    }

    .banner-title {
        font-size: 3rem;
    }

    .banner-description {
        padding-right: 0px;
    }

    .club-span {
        display: none;
    }

    .club-button {
        width: 225px;
        height: 55px;
        color: white;
        font-size: 16px;
        font-weight: 600;
        border-radius: 42px;
        background: rgb(230, 83, 60);
        padding: 0.5rem 1rem;
        border: none;
    }

    .download-button {
        width: 225px;
        height: 55px;
        background-color: transparent;
        font-size: 16px;
        font-weight: 600;
        border-radius: 42px;
        color: white;
        padding: .5rem 1rem;
        border: 1px solid white;
    }

    .workout {
        bottom: 72%;
        left: 64%;
        width: auto;
    }

    .workout h3 {
        font-size: 2.2rem;
    }

    .workout p {
        font-size: 0.6rem;
    }

    .tutorial {
        bottom: 40%;
        left: -10%;
        width: auto;
    }

    /* End of Navbar and Banner Related Responsive Styles. */


    /* Habit Section Related Responsive Styles. */
    .habit-details {
        padding: 50px;
    }

    .habit-heading {
        text-align: center;
    }

    .habit-images {
        margin-top: 3rem;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .habit-images img {
        border: 5px solid rgb(34, 34, 34);
    }

    .habit-title {
        font-size: 2rem;
    }

    .image-description {
        margin-top: 5px;
    }

    /* End of Habit Section Related Responsive Styles. */



    /* Run Section Related Responsive Styles. */
    .run-details {
        flex-direction: column;
        gap: 1.5rem;
        margin: 20px;
        margin-bottom: 0px;
        padding: 2rem;
    }

    .run-heading {
        gap: 20px;
    }

    .run-title {
        font-size: 2rem;
    }

    .run-description {
        padding-right: 0rem;
        line-height: 170%;
        margin: 0px;
    }

    .join-button {
        width: 100%;
    }

    .run-crop-image {
        display: none;
    }

    .run-full-image {
        display: block;
        width: 100%;
    }

    .run-full-image img {
        border: 2px solid rgb(255, 144, 14);
    }

    /* End of Run Section Related Responsive Styles. */



    /* BMI Calculator Related Responsive Styles. */
    table {
        width: 300px;
        height: 220px;
    }

    .bmi-calculator {
        width: 100%;
        padding: 1rem 0rem;
    }

    .bmi-calculator-heading {
        padding: 50px 30px;
    }

    .bmi-calculator-title {
        font-size: 2rem;
    }

    .bmi-calculator-container {
        flex-direction: column;
        gap: 20px;
        margin: 0px 30px;

    }

    .bmi-calculator-chart h1 {
        padding-bottom: 1.25rem;
        font-size: 24px;
    }

    .calculator-title {
        font-size: 1.25rem;
    }


    .calculator-description {
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.3px;
        padding-right: 5rem;
    }

    .calculator-heading {
        padding: 0px;
    }

    .calculator-form {
        padding: 0px;
    }

    #activity-select {
        width: 96%;
    }

    /* End of BMI Calculator Related Responsive Styles. */



    /* Team Section Related Responsive Styles. */
    .trainer-1,
    .trainer-4 {
        display: none;
    }

    .team-heading {
        padding-bottom: 0px;
    }

    .team-title {
        font-size: 2rem;
    }

    .team-peoples {
        grid-template-columns: 1fr;
        gap: 30px;
        margin: 30px;
        padding: 30px;
    }

    .team-peoples img {
        border: 2px solid rgb(255, 144, 14);
    }

    /* End of Team Section Related Responsive Styles. */


    /* Extra Section Related Responsive Styles. */
    .extra-container {
        width: 100%;
        padding-top: 30px;
    }

    .span-extra {
        display: none;
    }

    .enroll-details {
        flex-direction: column;
    }

    .enroll-title {
        font-size: 1rem;
        padding-top: 1rem;
        font-weight: 700;
        padding-bottom: 20px;
    }

    .form-top {
        flex-direction: column;
        gap: 0.8rem;
    }

    .extra-section input[type=text] {
        width: 50%;
    }

    .extra-section input[type=email] {
        width: 50%;
    }

    .extra-section input[type=message] {
        padding: 8px 0px;
        width: 90%;
    }

    .submit-button {
        align-items: center;
    }

    /* End of Extra Section Related Responsive Styles. */



    /* Footer Related Responsive Styles. */
    .footer-container {
        padding: 2rem;
    }

    .footer-container-top {
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .footer-middle,
    .footer-right {
        gap: 15px;
    }

    .last-line {
        text-align: left;
        font-size: 1.25rem;
    }

    /* End of Footer Related Responsive Styles. */
}